@charset "UTF-8";

*{
    font-family: arial, helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #D782BA,#E18AD4, #EEB1D5, #EFC7E5, #E0EFDA);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #ff00aa;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D782BA;
    text-align: center;
    text-shadow: 1px 1px 1px #4e203b;

}

h2 {
    color: #EEB1D5;
}

p {
    text-align: justify;
}